<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>


<!--    block title and end block are used for the giving the title for the given page when we are extending our [age there in that case we are dong that-->
</head>
<body>
<h1>Hii You are on the first page</h1>
{% block content%}{% endblock %}

<!--block title and endblock are used for the adding of the content in the page apart from the extended or inherited content from the file in that case you can achieve this by using block content and end block where end block are ued fort eh closing tag-->

</body>
</html>